html{
  display: block;
}

body{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  position: fixed;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  background: black;
  z-index: 10;
  top: 0;
  color: seashell;
}

header img{
  height: 50px;
  margin-left: 10px;
}

header a{
  color: seashell;
  text-decoration: underline;
}

header li{
  display: inline-block;
  padding: 0 10px;
}

main{
  padding-top: 70px;
}

section#mission{
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(../images/img-mission-background.jpg);
  display: flex;
  align-items: center;
}

h4{
  display: block;
  font-weight: bold;
}

#mission hgroup{
  background-color: black;
  width: 100%;
}

#mission h2, #mission h4{
  margin: 0;
  padding: 10px;
}

section#store{
  width: 1050px;
  height: 730px;
  margin: 0 auto;
  padding-top: 70px;
}

.items-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  margin: 0 25px;
}

.item img{
  display: block;
  padding-top: 10px;
  width: 300px;
}

.item h4{
  margin: 0;
  padding: 10px;
}

section#locations{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url(../images/img-locations-background.jpg);
}

.flex-location{
  display: flex;
  justify-content: center;
}

.location{
  width: 300px;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
}

#locations h2{
  margin: 0 0 15px 0;
}

.location p{
  display: block;
}

.location h3{
  display: block;
  font-weight: bold;
}

section#contact{
  height: 200px;
  display: block;
  margin-left: 20px;
}

#contact h2{
  margin: 0;
  padding: 10px;
}

#contact h5{
  display: block;
  font-weight: bold;
}

footer{
  padding-left: 20px;
  text-align: left;
}

footer h5{
  display: block;
  font-weight: bold;
}
