html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.head{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
}

.logo{
  height: 50px;
  margin-left: 10px;
  display: flex;
}

.links{
  text-decoration: underline;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
}
